Repository toblich/github-actions-test, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, dependencies

.github/labeler.yml:

migrations:
  - migrations/**
  
dependencies:
  - package-lock.json

Create package.json
  package-lock.json
  package.json
Labels: dependencies

Create package.json (#1)
  package-lock.json
  package.json
Labels: dependencies

Create first empty migration
  .nvmrc
  knexfile.js
  migrations/20200508065656_test_migration.js
  package-lock.json
  package.json
Labels: migrations, dependencies

Test removing migration to see if label is removed
  migrations/20200508065656_test_migration.js
Labels: migrations

Revert "Test removing migration to see if label is removed"
  migrations/20200508065656_test_migration.js
Labels: migrations

Create first empty migration (#2)
  .nvmrc
  knexfile.js
  migrations/20200508065656_test_migration.js
  package-lock.json
  package.json
Labels: migrations, dependencies

Stale!
  .github/workflows/stale.yml
Labels: none

Stale! (#3)
  .github/workflows/stale.yml
Labels: none

Commit meant to test PR stale action
  README.md
Labels: none
